#!/bin/bash
#set -x
workflow_version={{ workflow_version }}

accession=`sudo -u seqware -i /home/seqware/bin/seqware workflow list | grep -B5 "Workflow_Bundle_$workflow_version"| grep "SeqWare Accession" | awk -F"|" '{print $2}'| sort -n |tail -1`

last_record_status=`sudo -u seqware -i /home/seqware/bin/seqware workflow report --accession $accession | grep -A3 "RECORD 0" | grep "Workflow Run Status"| awk -F"|" '{print $2}'`
	
case $last_record_status in
			*running*)
		echo "The status of the last job is $last_record_status"
		exit 0
		;;
			*failed*)
			oozie_running_job=`sudo -u seqware -i /home/seqware/bin/seqware workflow report --accession $accession | grep -A4 "Workflow Run Status            | failed" | head -n 5 |tail -n 1| awk -F"|" '{print $2}'`
                        sge_failed_step=`sudo -u seqware -i oozie job -info $oozie_running_job | grep ERROR | awk -F"@" '{print $2}'| awk '{print $1}'`
		echo "The status of the last job is $last_record_status and the failed step is $sge_failed_step"
		exit 2
		;;
			*submitted*)
		echo "The status of the last job is $last_record_status."
		exit 1
		;;
			*completed*)
		echo "The status of the last job is $last_record_status, and a new sample should be scheduled soon."
		exit 1
		;;
			*)
		echo "The status of the last job is $last_record_status."
		exit 3
		;;
esac

