
{
  "checks": {
    "free-memory-check": {
      "handlers": ["default"],
      "command": "check-ram.rb -c 80 -w 50 ",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "load-metrics": {
      "handlers": ["default"],
      "command": "metrics-load.rb --per-core",
      "interval": 60,
      "occurrences": 3,
      "subscribers": [ "common" ],
      "handlers": ["relay"]
    },
    "iostat-metrics": {
      "handlers": ["default"],
      "command": "metrics-iostat-extended.rb",
      "interval": 60,
      "occurrences": 3,
      "subscribers": [ "common" ],
      "handlers": ["relay"]
    },
    "memory-metrics": {
      "handlers": ["default"],
      "command": "metrics-load.rb --per-core",
      "interval": 60,
      "occurrences": 3,
      "subscribers": [ "common" ],
      "handlers": ["relay"]
    },
    "cpu-load": {
      "handlers": ["default"],
      "command": "check-cpu.rb -w 90 -c 110 ",
      "interval": 60,
      "occurrences": 3,
      "subscribers": [ "common" ]
    },
    "check-disk-space-usage": {
      "handlers": ["default"],
      "command": "check-disk-usage.rb -c 90 -w 75",
      "interval": 60,
      "subscribers": [ "common" ],
      "handlers": ["relay"]
    },
    "disk-usage-metrics": {
      "handlers": ["default"],
      "command": "metrics-disk-usage.rb",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "interface-check": {
      "handlers":["default"],
      "command":"metrics-interface.rb",
      "interval":60,
      "subscribers":["common"],
      "handlers": ["relay"]
    },
    "docker-check": {
      "handlers":["default"],
      "command":"/etc/sensu/plugins/check-docker-containers.sh",
      "interval":60,
      "subscribers":["arch3-worker"]
    },
    "rabbitmq-alive": {
      "handlers":["default"],
      "command":"check-rabbitmq-alive.rb -w localhost -u queue_user -p queue",
      "interval":60,
      "subscribers":["arch3-launcher"]
    },
    "postgres-alive": {
      "handlers":["default"],
      "command":"check-postgres-alive.rb -u queue_user -p queue -h localhost -d queue_status",
      "interval":60,
      "subscribers":["arch3-launcher"]
    },
    "arch3-worker-running": {
      "handlers": ["default"],
      "command": "check-process.rb -p java.*info.pancancer.arch3.worker.Worker -C 1 -c 1",
      "interval": 60,
      "subscribers": [ "arch3-worker" ]
    },
    "arch3-coordinator-running": {
      "handlers": ["default"],
      "command": "check-process.rb -p java.*info.pancancer.arch3.coordinator.Coordinator -W 1 -w 1",
      "interval": 60,
      "subscribers": [ "arch3-launcher" ]
    },
    "arch3-provisioner-running": {
      "handlers": ["default"],
      "command": "check-process.rb -p java.*info.pancancer.arch3.containerProvisioner.ContainerProvisionerThreads -W 1 -w 1",
      "interval": 60,
      "subscribers": [ "arch3-launcher" ]
    }
  }
}
