{
  "checks": {
    "cron_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p cron -C 1 ",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "check-glusterfsd": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p glusterfsd -C 1 ",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "check-glusterd": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p glusterd -C 1 ",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "free_memory_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-mem.sh -w 800 -c 500 ",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "cpu_load": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-cpu.rb -w 90 -c 110 ",
      "interval": 60,
      "occurrences": 3,
      "subscribers": [ "common" ]
    },
    "check-disk-space": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-disk.rb ",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "check-NFS": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p nfsd4 -C 1 ",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "gluster_peer_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-gluster.sh",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "check-qstat": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-qstat.sh",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "check-hdfs": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-hdfs.sh",
      "interval": 60,
      "subscribers": [ "deprecated" ]
    },
    "gluster_check": {
      "command": "ls /mnt/glusterfs/data/ICGC1/scratch/seqware_results/ && ls /mnt/glusterfs/data/ICGC2/seqware_results_icgc/completed/ && ls /mnt/glusterfs/data/ICGC3/seqware_results_icgc/completed/",
      "subscribers": [ "deprecated" ],
      "interval": 60
    },
    "docker-check": {
      "handlers":["default"],
      "command":"/etc/sensu/plugins/check-docker-containers.sh",
      "interval":60,
      "subscribers":["arch3-worker"]
    },
    "rabbitmq-alive": {
      "handlers":["default"],
      "command":"/etc/sensu/plugins/rabbitmq-alive.rb -w localhost -v / -u queue_user -p queue",
      "interval":60,
      "subscribers":["arch3-launcher"]
    },
    "postgres-alive": {
      "handlers":["default"],
      "command":"/etc/sensu/plugins/postgres-alive.rb -u queue_user -p queue -h localhost -d queue_status",
      "interval":60,
      "subscribers":["arch3-launcher"]
    },
    "arch3-worker-running": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p java.*info.pancancer.arch3.worker.Worker -C 1 -c 1",
      "interval": 60,
      "subscribers": [ "arch3-worker" ]
    },
    "arch3-coordinator-running": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p java.*info.pancancer.arch3.coordinator.Coordinator -W 1 -w 1",
      "interval": 60,
      "subscribers": [ "arch3-launcher" ]
    },
    "arch3-provisioner-running": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p java.*info.pancancer.arch3.containerProvisioner.ContainerProvisionerThreads -W 1 -w 1",
      "interval": 60,
      "subscribers": [ "arch3-launcher" ]
    },
    "arch3-slack-reporter-running": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p java.*info.pancancer.arch3.coordinator.Coordinator -W 1 -w 1",
      "interval": 60,
      "subscribers": [ "arch3-launcher" ]
    }
  }
}
