{
  "checks": {
    "interface_metrics": {
      "type": "metric",
      "command": "interface-metrics.rb -x lo --scheme :::name:::",
      "interval": 60,
      "subscribers": ["common"],
      "handlers": ["relay"]
    }
  }
}
