{
  "checks": {
    "memory-metrics": {
      "type": "metric",
      "command": "memory-metrics.rb --scheme :::client.name:::",
      "interval": 60,
      "subscribers": ["common"],
      "handlers": ["relay"]
    }
  }
}
